/* General */
body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

/* Container */
.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

/* Ad Sidebar */
.ad-sidebar {
    padding: 0;
    flex: 0 0 250px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
    position: relative; /* Para posicionar el texto */
}

/* Imagen en la barra lateral */
.ad-sidebar .ad-image {
    width: 300px;
    align-items: center;
    height: 550px;
    object-fit: cover;
}

/* Texto del anuncio */
.ad-text {
    font-size: 18px;
    color: #333;
    text-align: center;
    margin-top: 10px;
    position: absolute; /* Posicionar el texto por encima de la imagen */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; /* Asegurar que esté por encima de la imagen */
    background: rgba(255, 255, 255, 0.8); /* Fondo semitransparente para mayor legibilidad */
    padding: 5px 10px;
    border-radius: 5px;
}

/* Texto intermitente */
.blink {
    animation: blinker 1s linear infinite, colorChange 1s linear infinite;
    font-family: arial black;
    font-size: 40px;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@keyframes colorChange {
    0%, 100% {
        color: red;
    }
    50% {
        color: darkblue;
    }
}

/* Container */
.container {
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px 20px;
}

/* Heading */
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
}

/* Form Group */
.form-group {
    margin-bottom: 15px;
}

/* Labels */
label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

/* Inputs */
input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Button */
button[type="submit"] {
    padding: 10px 15px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Additional Links */
.additional-links {
    text-align: center;
    margin-top: 20px;
}

.additional-links a {
    color: #007bff;
    text-decoration: none;
}

.additional-links a:hover {
    text-decoration: underline;
}

/* Footer */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

.footer p {
    margin: 0;
    color: #666;
}
